
body a{
    color: #000000;
}
body a:hover{
    text-decoration: none;
}
.display-none{
    display: none;
}
/*======================================================================================*/
/*==================================    Reponsive    ====================================*/
/*======================================================================================*/

/* width < 480px iphone đứng*/
@media only screen
and (max-device-width : 479px){
    /*==================================    Home    ========================================*/
    .home{
        padding-top: 20%;
    }
    .home .pencel img{
        width: 90%;
    }
    .pagehome .home480{
        display: block;
    }
    .pagehome .detail480{
        display: block;
    }
    .pagehome .menutop div.btn-group{
        width: 15%;
        height: 40px;
    }
    .pagehome .btn-menu{
        background: url("../img/bg-menu-top.png") repeat;
        width: 100%;
        height: 100%;
    }
    .pagehome .detail480 .texthome{

        padding-top: 10px;
    }
    .texthome{
        padding-top: 10%;
        padding-left: 0px;
    }
    /*==================================    Team1    ========================================*/
    .pageteam1480{
        display: block;
    }
}

/* 480 < width < 768px iphone nằm*/
@media (min-device-width : 480px) and (max-device-width : 767px){
    /*==================================    Home    ========================================*/
    .home{
        padding-top: 10%;
    }
    .home .pencel img{
        width: 90%;
    }
    .pagehome .home480768{
        display: block;
    }
    .pagehome .detail480768{
        display: block;
    }
    .pagehome .home480768 .imglogo{
        margin-top: 4%;
    }
    .pagehome .menutop div.btn-group{
        width: 100%;
        height: 40px;
    }
    .pagehome .btn-menu{
        background: url("../img/bg-menu-top.png") repeat;
        width: 100%;
        height: 100%;
    }
    .texthome{
        padding-top: 10%;
        padding-left: 0px;
    }


    /*==================================    Team1    ========================================*/
    .pageteam1480768{
        display: block;
    }

}
/* 768 < width < 1024px ipad đứng*/
@media (min-device-width : 768px) and (max-device-width : 1023px){
    /* STYLES GO HERE */
    /*==================================    Home    ========================================*/
    .home{
        padding-top: 20%;
    }
    .home .pencel img{
        width: 100%;
    }
    .home7681024{
        display: block;
    }
    .home7681024 .logo{
        padding-top: 50px;
    }
    .header div.menutop{
        padding-top: 50px;
    }
    .home .detail7681024{
        display: block;
    }
    .texthome{
        padding-top: 3%;
        padding-left: 0px;
    }
    /*==================================    Team1    ========================================*/
    .pageteam17681204{
        display: block;
    }
}
/* width > 1024px desktop*/
@media only screen
and (min-device-width : 1024px){
    /*==================================    Home    ========================================*/
    .home{
        padding-top: 20%;
    }
    .home .pencel img{
        width: 100%;
    }
    .homedesktop{
        display: block;
    }
    .header div.menutop{
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .home .detail{
        display: block;
    }
    .texthome{
        padding-top: 10%;
        padding-left: 0px;
    }
    /*==================================    Team1    ========================================*/
    .pageteam11204{
        display: block;
    }
}

/*======================================================================================*/
/*==================================    Home    ========================================*/
/*======================================================================================*/

.header div{
    padding: 0px;
}

.header ul li.active a{
    border-bottom: 3px #ffffff solid;
}

.displaytable
{
    display: table;
}

.cell
{
    display: table-cell;
    vertical-align: middle;
}

/*======================================================================================*/
/*==================================    Team 1    ========================================*/
/*======================================================================================*/

.team1 h1{
    color: #056938;
}
.team1 strong{
    color: #10519f;
}
.team1{
    padding-top: 100px;
}
/*======================================================================================*/
/*==================================    Team 3    ========================================*/
/*======================================================================================*/
.team3content{
    padding-top: 50px;
}
.team3right{
    padding-top: 100px;
}
.team3right h2{
    color: red;
}
.team3right i{
    color: #1b75bc;
}
/*======================================================================================*/
/*==================================    Team 2    ========================================*/
/*======================================================================================*/
.team2header{
    background: url("../img/bg-team2-header.png") repeat;
    width: 100%;
}
.team2{
    padding-top: 100px;
}
.team2 p{
    width: 80%;
    margin: auto;
    color: #bd5946;
}
.team2 p.line{
    background-color: #ffffff;
    width: 40%;
    height: 5px;
    margin-bottom: 15px;
}
.team2header h1{
    color: #bd5946;
}
.team2content h1{
    color: #bd5946;
}
